# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php



# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

#Plugin Keep
#!web/app/plugins/advanced-custom-fields-pro
#!web/app/plugins/acf-to-wp-api
#!web/app/plugins/clone-posts
#!web/app/plugins/contact-form-7
#!web/app/plugins/debug-bar
#!web/app/plugins/json-rest-api
#!web/app/plugins/mailchimp-for-wp
#!web/app/plugins/regenerate-thumbnails
#!web/app/plugins/safe-redirect-manager
#!web/app/plugins/soil
#!web/app/plugins/wp-clone-by-wp-academy
#!web/app/plugins/wp-mail-smtp
!web/app/plugins/woocommerce-pdf-product-vouchers

#MU-Plugin Keep

web/app/themes/muvbaby-roots/assets/css/main.css.map
web/app/themes/muvbaby-roots/assets/css/main.min.css.map

#FTP
sftp-config.json
